* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    font-weight: bold;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;

}
.marca{
    width: 700px;
    height: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 130px;
}

.btn > a {
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ae4d4d;
    color: #F5F5F5;
    height: 60px;
    width: 200px;
    text-align: center;
    padding-top: 17px;
}

.btn > a:hover {
    background-color: #811A1A;
    color: #F5F5F5;
    transition: 0.3s;
}




nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 24px;
    list-style: none;
}

nav > ul{
    list-style: none;
    display: flex;
    gap: 32px;
}

a {
    list-style: none;
    text-decoration: none;
    color: #811A1A;
    font-size: 20px;

}

a:hover {
    color: #480d0d;
}

/* PROJECTS */

.Projects {
    background-color: #811A1A;
    height: 1000px;
    padding-top: 40px;
}

.Projects > h2 {
    font-family: Titan One;
    font-size: 150px;
    color: #F5F5F5;
    padding-top: 30px;
    padding-left: 24px;
}

.Projects > div > a > img {
    width: 600px;
    height: auto;
    border-radius: 8px;
}


.Projects > div {
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-top: 50px;
    /* padding-left: 15px; */
    justify-content: center;

}

/* ABOUT ME  */

.About-me > h2 {
    font-family: Titan One;
    font-size: 150px;
    color: #811A1A;
   display: flex;
   justify-content: center;
   padding-top: 40px;
}

.About-me > div > img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 24px;
    border: 20px #811A1A solid ;
    border-style: double;
    padding: 20px;

}

.About-me > div {
    /* background-color: #811A1A; */
    display: flex;
    gap: 200px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
    justify-content: center;
}

.About-me > div > p {
    color:#811A1A;
    max-width: 600px;
    font-size: 24px;
    padding-right: 24px;
}

footer {
    background-color: #811A1A;
    height: 50px;
    padding: 20px;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    
}

footer > p {
    color: #F5F5F5;
}

/* GALLERY */



h2 {
    font-family: Titan One;
    font-size: 150px;
    color: #811A1A;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

span {
    background-color: #811A1A;
    padding: 8px 300px;
    display: flex;
    justify-content: center;
}

 p {
    color: #811A1A;
    padding-top: 80px;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    font-weight: bolder;
}